[submodule "zsh/macOS-zsh-completions"]
	path = zsh/macOS-zsh-completions
	url = https://github.com/zchee/macOS-zsh-completions
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
